.App {
  text-align: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(78, 72, 163);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 10em;
  letter-spacing: -2px;
  color:rgb(78, 72, 163);
  border-bottom: 2px solid rgb(78, 72, 163);
  /* text-transform: uppercase; */
 }
 .corporateColor {
  background: rgb(78, 72, 163);

 }
 .navAndFooter {
  background: rgb(78, 72, 163);
  font-family: "Trebuchet MS", sans-serif;
  font-size: 1.1em;
  color:antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }

 .navAndFooter:hover {
  color:rgb(182, 179, 221);

 }

 .search{
  margin: 50px auto;
  padding-left: 1%;
  width: 100%;
  height: 50px;
  border:2px solid rgb(78, 72, 163) ;
}

.search:hover {
  border:2px solid rgb(78, 72, 163) !important ;

 }
 
.textOfCard{
  color: rgb(78, 72, 163);
  font-style: solid;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 1em;
}
.pag{
  font-style: solid;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pag:hover {
  color:rgb(182, 179, 221);

}
